@import "base/variables";
@import "base/animations";
* {
font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/benefits";
@import "blocks/consult";
@import "blocks/forms";
@import "blocks/choice";
@import "blocks/clients";
@import "blocks/titles";
@import "blocks/catalog";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";

