.benefits {
    position: relative;
    min-height: 470px;
    padding: 73px 0 78px 0;
    background: url("../img/bg_grey.png") center (center/cover) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title { 
        display: flex;
        justify-content: center;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 60px;
        }
    &__icons {   
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 957px;
     
       /*  height: 322px; */
        }
    &__icon {
        width: 269px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
        span {
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            color: #0D0D0D;
        }
        a {
            color: $main-color;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}
