.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 942px;
    height: 54px;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
            line-height: 29px;
        }
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 4px;
        text-decoration: none;
        &:hover {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        align-items: flex-end;
        text-align: right;
        color: #FFFFFF;
    }
}